<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}" data-bs-theme="dark">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>  
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  </head>
  <body class="d-flex flex-column h-100 text-light">
    {% include nav.html %}
    <main class="flex-shrink-0">
      <div class="container row-gap-3">
        <div class="row">
          <div class="col-md-8">
            {% include breadcrumbs.html %}
          </div>
        </div>
        <div class="row pt-3 pb-5">
          <div class="col-md-8">
            {{ content }}
          </div>
          <div class="col-md-4">
            {% include sidebar.html %}
          </div>
        </div>
      </div>
    </main>
    {% include footer.html %}
    {% include scripts.html %}
  </body>
</html>
